In [2]:
import pandas as pd
import numpy as np
import re

In [74]:
data = pd.read_csv('data_populated_all_fixed_8000.csv')
data = data.iloc[:59,:].copy()

In [75]:
data.rename(columns = {"property_costs":"property_cost(Rmb/m^2/month)", "total_area":"total_area(m2)", "green_rating": "green_rating(%)"},inplace = True)

In [76]:
data = data.replace(u'暂无数据', np.nan).dropna()

In [77]:
data.head()

,Unnamed: 0,address,link,long,lat,property_type,property_cost(Rmb/m^2/month),total_area(m2),number_of_units,year_built,parking_spots,volume_rate,green_rating(%),developer_company,property_management_company
0,0,汤臣一品,https://shanghai.anjuke.com/community/view/8,31.238608,121.508381,公寓,15.00元/平米/月,115000m²,220户,2006年,458,5.97,40%(高),汤臣海景花园（上海浦东新区）有限公司,晶华物业有限公司
1,1,中粮海景壹号,https://shanghai.anjuke.com/community/view/218807,31.236882,121.510280,公寓,12.00元/平米/月,70000m²,311户,2010年,600,4,51%(高),上海鹏利置业发展有限公司,上海高力国际物业服务有限公司
4,4,长岛花苑,https://shanghai.anjuke.com/community/view/2679,31.270386,121.609057,公寓,1.00元/平米/月,23000m²,2034户,1993年,1000,1.2,35%(一般),上海浦东伟业房地产开发总公司,上海洋泾物业
5,5,陆家嘴国际华城,https://shanghai.anjuke.com/community/view/174,31.241847,121.542053,公寓,2.00元/平米/月,200000m²,1200户,2004年,900,2.2,60%(高),上海华能天地房地产有限公司,陆家嘴物业
6,6,上海绿城,https://shanghai.anjuke.com/community/view/130,31.209665,121.539480,公寓,2.55元/平米/月,461000m²,2820户,2004年,2100,2.2,50%(高),上海绿宇房地产开发有限公司,上海绿宇物业管理有限公司

In [78]:
data["property_type"] = data["property_type"].map({"公寓":0,"别墅":1})
data["property_type"] = data["property_type"].fillna(0)

In [79]:
data["property_cost(Rmb/m^2/month)"] = data["property_cost(Rmb/m^2/month)"].str.replace(r'[^\d\.]+','')

In [80]:
data["number_of_units"] = data["number_of_units"].str.replace(r'[^\d]+','')
data["year_built"] = data["year_built"].str.replace(r'[^\d]+','')
data["parking_spots"] = data["parking_spots"].str.replace(r'[^\d]+','')
data["volume_rate"] = data["volume_rate"].str.replace(r'[^\d]+','')
data["green_rating(%)"] = data["green_rating(%)"].str.replace(r'[^\d]+','')
data["total_area(m2)"] = data["total_area(m2)"].str.replace(r'[^\d]+','')

In [81]:
data.head()

,Unnamed: 0,address,link,long,lat,property_type,property_cost(Rmb/m^2/month),total_area(m2),number_of_units,year_built,parking_spots,volume_rate,green_rating(%),developer_company,property_management_company
0,0,汤臣一品,https://shanghai.anjuke.com/community/view/8,31.238608,121.508381,0,15.00,115000,220,2006,458,597,40,汤臣海景花园（上海浦东新区）有限公司,晶华物业有限公司
1,1,中粮海景壹号,https://shanghai.anjuke.com/community/view/218807,31.236882,121.510280,0,12.00,70000,311,2010,600,4,51,上海鹏利置业发展有限公司,上海高力国际物业服务有限公司
4,4,长岛花苑,https://shanghai.anjuke.com/community/view/2679,31.270386,121.609057,0,1.00,23000,2034,1993,1000,12,35,上海浦东伟业房地产开发总公司,上海洋泾物业
5,5,陆家嘴国际华城,https://shanghai.anjuke.com/community/view/174,31.241847,121.542053,0,2.00,200000,1200,2004,900,22,60,上海华能天地房地产有限公司,陆家嘴物业
6,6,上海绿城,https://shanghai.anjuke.com/community/view/130,31.209665,121.539480,0,2.55,461000,2820,2004,2100,22,50,上海绿宇房地产开发有限公司,上海绿宇物业管理有限公司

In [82]:
price = pd.read_csv("data_prices.csv")

In [23]:
wide = price.pivot(index = 'name', columns = 'date', values = 'price')

In [26]:
data_with_price = data.merge(wide, how = 'left', left_on = 'address', right_index = True)
data_with_price.head().T

,0,1,4,5,6
Unnamed: 0,0,1,4,5,6
address,汤臣一品,中粮海景壹号,长岛花苑,陆家嘴国际华城,上海绿城
link,https://shanghai.anjuke.com/community/view/8,https://shanghai.anjuke.com/community/view/218807,https://shanghai.anjuke.com/community/view/2679,https://shanghai.anjuke.com/community/view/174,https://shanghai.anjuke.com/community/view/130
long,31.2386,31.2369,31.2704,31.2418,31.2097
lat,121.508,121.51,121.609,121.542,121.539
property_type,0,0,0,0,0
property_cost(Rmb/m^2/month),15.00,12.00,1.00,2.00,2.55
total_area(m2),115000,70000,23000,200000,461000
number_of_units,220,311,2034,1200,2820
year_built,2006,2010,1993,2004,2004
parking_spots,458,600,1000,900,2100
volume_rate,597,4,12,22,22
green_rating(%),40,51,35,60,50
developer_company,汤臣海景花园（上海浦东新区）有限公司,上海鹏利置业发展有限公司,上海浦东伟业房地产开发总公司,上海华能天地房地产有限公司,上海绿宇房地产开发有限公司
property_management_company,晶华物业有限公司,上海高力国际物业服务有限公司,上海洋泾物业,陆家嘴物业,上海绿宇物业管理有限公司
201504,222603,160908,25894,50134,50061
201505,212010,160085,26097,50951,51341
201506,200504,159610,25984,52864,52563
201507,206136,159555,26661,55125,54876
201508,178042,159726,27301,58821,56683
201509,160504,136818,27489,62534,57571
201510,154106,143277,27744,63072,58731
201511,149121,135228,28222,64734,60848
201512,150532,148283,28928,66436,62479
201601,222540,172437,30042,69319,67709
201602,231768,179587,30801,73769,71369
201603,271283,210205,38766,82829,79569
201604,270121,209305,43257,84540,80489
201605,267822,207524,43059,83171,79137
201606,269502,208826,42514,79882,76724
201607,268787,205944,43287,81992,79887
201608,216301,176395,43931,82856,82546
201609,213342,176732,43789,84422,83828
201610,209459,182182,44929,86535,85435
201611,208361,177384,47563,86001,87273
201612,196184,176498,47383,87178,89557
201701,191220,184391,48365,87277,87720
201702,189084,194473,48215,87711,86566
201703,191410,191683,48422,87081,86677
201704,205951,191921,48542,87032,88781
201705,192041,186114,49819,94111,93669
201706,194957,185400,50397,93153,93650
201707,196681,194612,50073,94081,92635
201708,206819,210256,49394,91265,89673
201709,220263,207024,49364,87939,90239
201710,221187,205268,49020,88654,91696
201711,232486,214795,51171,88853,90431
201712,251312,220373,51699,88089,89415
201801,231900,227938,50279,87603,91075
201802,243473,228947,49278,87779,92905
201803,247875,229295,48846,88487,92763