In [4]:
import numpy as np
import pandas as pd
import re

In [10]:
data = pd.read_csv("data_600.csv",index_col=0)
data = data.drop(data.columns[0], axis=1)
data.head()

,room,area,price,orient,level,dec,line,linedistance,district,subdistrict,school,time,elevator,unknown1,unknown2,unknown3,unknown4,web
0,\r\n2室2厅2卫,165.51平米,108755元/平米,南,高层,豪华装修,9,615,黄浦,董家渡,0,2011年,有,个人产权,普通住宅,平层,板楼,http://esf.sh.fang.com/chushou/3_320091760.htm
1,\r\n3室1厅1卫,68.8平米,28779元/平米,南,中层,中装修,17,752,青浦,青浦城区,0,1998年,无,个人产权,普通住宅,平层,板楼,http://esf.sh.fang.com/chushou/3_318628127.htm
2,\r\n2室2厅2卫,30平米,28667元/平米,暂无,高层,简装修,11,512,嘉定,嘉定新城,1,2011年,无,个人产权,普通住宅,复式,板楼,http://esf.sh.fang.com/chushou/3_320068690.htm
3,\r\n5室3厅5卫,549平米,78324元/平米,北,低层,豪华装修,9,996,浦东,碧云,0,2006年,独栋,481平米,挑高,2,1,http://esf.sh.fang.com/chushou/10_319804369.htm
4,\r\n3室2厅1卫,89平米,29775元/平米,南,中层,精装修,17,543,青浦,青浦城区,1,2010年,无,个人产权,普通住宅,平层,板楼,http://esf.sh.fang.com/chushou/3_318628120.htm

In [12]:
def clean(data):

    #deal with meanless info
    data = data.drop(['unknown1','unknown2','unknown3','unknown4'],1)
    print(data.columns)

    #deal with elevator
    for i in range(len(data)):
        if len(data.elevator[i].split()[0])>1:
            data.iloc[i, 12] = '无'
        else :
            data.iloc[i, 12] = data.elevator[i].split()[0]
        
    #deal with room
    vroom = []
    bedroom = []
    bathroom = []
    for i in range(len(data)):
        k = re.findall(r'[0-9]',data.room[i])
        try:
            vroom.append(k[0])
            bedroom.append(k[1])
            bathroom.append(k[2])
        except:
            data = data.drop(i)
    data['vroom'] = vroom
    data['bedroom'] = bedroom
    data['bathroom'] = bathroom
    data = data.drop('room', axis=1)
    data = data.reset_index(drop=True)
    
    #deal with area
    area = []
    c = 0
    for i in range(len(data)):
        k = re.findall(r'[0-9]+',data.area[i])
        area.append(k[0])
        c+=1
    data['area'] = area
    
    #deal with price
    price = []
    print(data.head())
    for i in range(len(data)):
        try:
            k = re.findall(r'[0-9]+',data.price[i])
            price.append(k[0])
        except:
            data = data.drop(i)
    data['price'] = price
    
    #deal with time
    c=[]
    for i in range(len(data)):
        a = re.findall(r'[0-9]+', data.time[i])
        if len(a[0])>4:
            data = data.drop(i)
        else:
            c.append(2018-int(a[0]))

    data = data.reset_index(drop=True)
    data['time'] = c
    
    #deal with web
    d = data.web
    data.drop('web', 1, inplace=True)
    
    #numeric form
    data['area'] = pd.to_numeric(data['area'])
    data['price'] = pd.to_numeric(data['price'])
    data['linedistance'] = pd.to_numeric(data['linedistance'])
    data['time'] = pd.to_numeric(data['time'])
    data['vroom'] = pd.to_numeric(data['vroom'])
    data['bedroom'] = pd.to_numeric(data['bedroom'])
    data['bathroom'] = pd.to_numeric(data['bathroom'])
    
    #get dummies
    data_fixed = pd.get_dummies(data)
    data_fixed.drop(data_fixed.columns[0], axis=1, inplace=True)
    
    #output
    data_fixed.to_csv('final_data.csv')

    return d

In [ ]:
clean(data)

Index(['room', 'area', 'price', 'orient', 'level', 'dec', 'line',
       'linedistance', 'district', 'subdistrict', 'school', 'time', 'elevator',
       'web'],
      dtype='object')

In [22]:
len(dd)

16868

In [24]:
type(dd.unique())

numpy.ndarray

In [17]:
dd.head()

Series([], Name: web, dtype: object)

In [37]:
a = re.findall(r'[0-9]+', data.time[1])

In [38]:
a

['1998']

In [25]:
data.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'